body{
    background-image: url('https://alfabetajuega.com/hero/2021/03/dark-souls.jpg?width=1200&aspect_ratio=1200:631');
}
.androide{
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: none;
    background-image: url('https://e7.pngegg.com/pngimages/93/425/png-clipart-robot-robot-electronics-humanoid-robot-thumbnail.png');
}